NumberIndex 8

Copyright 'Assistant MultiM‚dia du Malte Genesis V: AdŠle - FunCode:Gladir '
Copyright 'Tous droits r‚serv‚s par les Chevaliers de Malte XXIŠme siŠcle'

IndexFile 0,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#0.PCX'
IndexFile 1,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#1.PCX'
IndexFile 2,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#2.PCX'
IndexFile 3,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#3.PCX'
IndexFile 4,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#4.PCX'
IndexFile 5,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#5.PCX'
IndexFile 6,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#6.PCX'
IndexFile 7,'RESOURCE\MONSTERB.OOK\ASSISTAN.T\MB-#7.PCX'