IndexRec 0
       //01234567
 String:'        ' // cmdNone=0
 String:'NouvEdit' // cmdNewEdt=1
 String:'Ouvrir  ' // cmdOpenEdt=2
 String:'NouvDocu' // cmdNewGatt=3
 String:'OuvrDocu' // cmdOpenGatt=4
 String:'EditHexa' // cmdHexEdt=5
 String:'RegarAsc' // cmdOpenView=6
 String:'NouvTabl' // cmdNewSuperCalc=7
 String:'OuvrTabl' // cmdOpenSuperCalc=8
 String:'Sauvegar' // cmdSave=9
 String:'SauveSou' // cmdSaveAs=$A;
 String:'CopiFich' // cmdCpyFiles=$B
 String:'DÇplFich' // cmdMoveFiles=$C
 String:'EffaFich' // cmdDelFile=$D
 String:'SauvTous' // mbFileSaveAll=$F00E
 String:'CrÇeRÇpr' // cmdMkDir=$F
 String:'ChangRÇp' // cmdChDir=$10
 String:'Imprime ' // cmdPrint=$11
 String:'InterDos' // cmdShell=$12
 String:'Quitter ' // cmdExit=$13
 String:'NouvDess' // cmdNewDrw=$14
 String:'OuvrDess' // cmdOpenDrw=$15
 String:'NouvIcìn' // cmdNewButt=$16
 String:'OuvrIcìn' // cmdOpenButtEdt=$17
 String:'NouvPgIc' // cmdDrwNewPgButt=$18
 String:'ChPgIcìn' // cmdDrwChgPgButt=$19
 String:'DÇfaire ' // mbEditUndo=$F01A
 String:'DÇcouper' // mbEditCut=$F01B
 String:'CopiBloc' // cmdCopyClipBoard=$1C
 String:'PassBloc' // cmdPasteClipBoard=$1D
 String:'EffaBloc' // mbEditClear=$F01E
 String:'VoirBloc' // mbEditShowClipboard=$F01F
 String:'Modeêdit' // cmdEditMode=$20
 String:'StyleCar' // cmdChrType=$21
 String:'ModeDess' // cmdDrawMode=$22
 String:'êchgPage' // cmdEditXchgPg=$23
 String:'ModeLign' // cmdLnMode=$24
 String:'ModeBoåt' // cmdBoxMode=$25
 String:'ModeCerc' // cmdCircleMode=$26
 String:'ModePein' // cmdPaintMode=$27
 String:'ModeTrac' // cmdTraceMode=$28
 String:'ModeText' // cmdTextMode=$29
 String:'êditPlei' // mbEditFill=$F02A
 String:'êditEffa' // mbEditDel=$F02B
 String:'êditRecu' // mbEditBS=$F02C
 String:'Recherch' // cmdSearch=$2D
 String:'Remplace' // cmdReplace=$2E
 String:'RsEncore' // cmdSearchAgain=$2F
 String:'AllerLig' // cmdGotoLn=$30
 String:'AllerCol' // mbSearchGotoRow=$F031
 String:'AllerDÇb' // cmdHomeTxt=$32
 String:'AllerFin' // cmdEndTxt=$33
 String:'Tri     ' // mbTri=$F034
 String:'ExÇcute ' // cmdRun=$35
 String:'ParamExe' // mbRunParameters=$F036
 String:'Compiler' // cmdCompile=$37
 String:'Conversi' // mbCompileConv=$F038
 String:'Compress' // cmdCompress=$39
 String:'Faire   ' // mbCompileMake=$F03A
 String:'Construi' // mbCompileBuilt=$F03B
 String:'InfoCmpl' // mbCompileInfo=$F03C
 String:'ParamApp' // mbOptionApplication=$F03D
 String:'ParaCmpl' // mbOptionCompiler=$F03E
 String:'Taille  ' // cmdSetMarge=$3F
 String:'Fabrique' // mbOptionLink=$F040
 String:'ParamDÇb' // mbOptionDebug=$F041
 String:'ParamRÇp' // cmdSetDirSetup=$42
 String:'ParamImp' // cmdPrnSetup=$43
 String:'ParamVid' // cmdSetVideoMode=$44
 String:'ParamPol' // mbOptionFont=$F045
 String:'VideoEnv' // cmdVideoEnvironnement=$46
 String:'êconoêcr' // mbOptionScrnSaver=$F047
 String:'Environn' // mbOptionEnvironment=$F048
 String:'Bienvenu' // cmdTermWelcome=$49
 String:'ListUsag' // mbOptionTermUserList=$F04A
 String:'Tableau ' // cmdBoard=$4B
 String:'EditMenu' // cmdEditMnu=$4C
 String:'MotPasse' // mbOptionPassWord=$F04D
 String:'MenuAppl' // cmdLoader=$4E
 String:'GestFich' // cmdNewFileManagers=$4F
 String:'PrompDos' // cmdNewMDos=$50
 String:'PrompUnx' // cmdNewUnix=$51
 String:'CalcProg' // cmdOpenWatch=$52
 String:'Terminal' // cmdNewTerm=$53
 String:'Sortie  ' // cmdOutput=$54
 String:'Tile    ' // mbWindowTile=$F055
 String:'Cascade ' // mbWindowCascade=$F056
 String:'FermTous' // cmdCloseAllWn=$57
 String:'RafraFen' // cmdRefreshWn=$58
 String:'FenTaill' // mbWindowSizeMove=$F059
 String:'FenPlein' // mbWindowZoom=$F05A
 String:'Suivante' // cmdNextWn=$5B
 String:'PrÇcÇden' // cmdPreviousWn=$5C
 String:'Fermer  ' // cmdCloseWn=$5D
 String:'Liste   ' // cmdLstWn=$5E
 String:'A Propos' // cmdAbout=$5F
 String:'InfoPays' // mbInfoCountry=$F060
 String:'Sommaire' // cmdSomaryInfo=$61
 String:'InfVidÇo' // cmdVidInfo=$62
 String:'InfoVid2' // mbInfoSomaryVideoSecond=$F063
 String:'InfoPoli' // mbInfoFont=$F064
 String:'InfoMÇmo' // cmdInfoMem=$65
 String:'InfoMCB ' // cmdInfoMCB=$66
 String:'InfoCmos' // cmdCmosInfo=$67
 String:'DoctMode' // cmdModemDoctor=$68
 String:'DownLoad' // cmdViewDownload=$69
 String:'InfoDocu' // mbInfoGat=$F06A
 String:'HostMode' // cmdHostMode=$6B
 String:'ExeMacro' // cmdExecMacro=$6C
 String:'OpenMacr' // cmdOpenMacro=$6D
 String:'EffacEsp' // cmdTxtDelSpc=$6E
 String:'EffacLig' // cmdDelCurrLn=$6F
 String:'CentrTxt' // cmdCenterTxt=$70
 String:'MotDoubl' // cmdTxtDblWord=$71
 String:'Mot Gras' // cmdTxtBoldWord=$72
 String:'MotSouli' // cmdTxtUnderlnWord=$73
 String:'MotInver' // cmdTxtInverseWord=$74
 String:'Autopsie' // mbAutopsy=$F075
 String:'AuSujet.' // cmdHelp=$76
 String:'AideTouc' // mbHlpKey=$F077
 String:'OuvreASM' // cmdOpenAsm=$78
 String:'OuvreBAS' // cmdOpenBas=$79
 String:'OuvreC  ' // cmdOpenC=$7A
 String:'OuvreEup' // cmdOpenEuphoria=$7B
 String:'OuvreFor' // cmdOpenFortran=$7C
 String:'OuvreINI' // mbOpenIni=$F07D
 String:'OuvrePAS' // cmdOpenPas=$7E
 String:'OuvreRC ' // cmdOpenRC=$7F
 String:'TermMenu' // cmdEditMainMenu=$80
 String:'TermFich' // cmdEditFileMenu=$81
 String:'Dailogue' // cmdNewDial=$82
 String:'OuvreAC ' // cmdOpenAC=$83
 cmdOpenBasAppleII=$84;         {132}
 cmdOpenBasCK64=$85;            {133}
 cmdOpenBasCoco3=$86;           {134}
 mbOriginateMode=$F087;         {135}
 cmdOriginateMode=$87;          {135}
 cmdOpenCobol=$88;              {136}
 cmdOpenMod=$89;                {137}
 cmdOpenCountry=$8A;            {138}
 cmdOpenPckAC=$8B;              {139}
 cmdOpenPckAsm=$8C;             {140}
 cmdOpenPckBas=$8D;             {141}
 cmdOpenPckBasAppleII=$8E;      {142}
 cmdOpenPckBasCK64=$8F;         {143}
 cmdOpenPckBasCoco3=$90;        {144}
 cmdOpenPckC=$91;               {145}
 cmdOpenPckCobol=$92;           {146}
 cmdOpenPckDrw=$93;             {147}
 cmdOpenPckEdt=$94;             {148}
 cmdOpenPckEuphoria=$95;        {149}
 cmdOpenPckFortran=$96;         {150}
 cmdOpenPckGatt=$97;            {151}
 cmdOpenPckPas=$98;             {152}
 cmdOpenPckRC=$99;              {153}
 cmdAssign=$9A;                 {154}
 cmdAwk=$9B;                    {155}
 cmdGrep=$9C;                   {156}
 mbExec=$F09D;                  {157}
 cmdExec=$9D;                   {157}
 cmdJoinDsk=$9E;                {158}
 cmdJoinPath=$9F;               {159}
 cmdChDsk=$A0;                  {160}
 cmdChDsk2=$A1;                 {161}
 cmdDskDoctor=$A2;              {162}
 mbHardDskPark=$F0A3;           {163}
 cmdHardDiskPark=$A3;           {163}
 cmdViewEdtDsk=$A4;             {164}
 mbHexViewEdtDsk=$F0A5;         {165}
 cmdHexViewEdtDsk=$A5;          {165}
 mbFormatDsk=$F0A6;             {166}
 cmdFormatDsk=$A6;              {166}
 cmdDskOption=$A7;              {167}
 cmdDoctorVirus=$A8;            {168}
 cmdConv2AC=$A9;                {169}
 cmdConv2Bas=$AA;               {170}
 cmdConv2C=$AB;                 {171}
 cmdConv2Cobol=$AC;             {172}
 cmdConv2Fortran=$AD;           {173}
 cmdConv2Pas=$AE;               {174}
 cmdConv2RC=$AF;                {175}
 cmdTxtItalicWord=$B0;          {176}
 cmdTxtDelWord=$B1;             {177}
 cmdTxtMarge=$B2;               {178}
 cmdTxtPgUp=$B3;                {179}
 cmdDelCurrCol=$B4;             {180}
 cmdDelCurrMatrix=$B5;          {181}
 cmdInsCurrCol=$B6;             {182}
 cmdInsCurrLn=$B7;              {183}
 cmdInsCurrMatrix=$B8;          {184}
 cmdTxtBold=$B9;                {185}
 cmdTxtDbl=$BA;                 {186}
 cmdTxtItalic=$BB;              {187}
 cmdTxtInverse=$BC;             {188}
 cmdTxtUnderln=$BD;             {189}
 cmdChgColor=$BE;               {190}
 cmdPlayMod=$BF;                {191}
 cmdStopPlayMod=$C0;            {192}
 cmdInternalInfo=$C1;           {193}
 mbInfoDskLogic=$F0C2;          {194}
 cmdDskInfo=$C2;                {194}
 cmdCloseAllWnSaved=$C3;        {195}
 cmdPgUp=$C4;                   {196}
 cmdPgDn=$C5;                   {197}
 cmdLeft=$C6;                   {198}
 cmdRight=$C7;                  {199}
 cmdUp=$C8;                     {200}
 cmd2Up=$C9;                    {201}
 cmdDn=$CA;                     {202}
 mbInfoSoundCard=$F0CB;         {203}
 cmdInfoSoundCard=$CB;          {203}
 cmdDoctorSys=$CC;              {204}
 cmdCurrListFiles=$CD;          {205}
 mbBescherelle=$F0CE;           {206}
 mbFilePrnDir=$F0CF;            {207}
 mbLabel=$F0D0;                 {208}
 cmdLabel=$D0;                  {208}
 cmdHomeBlock=$D1;              {209}
 cmdEndBlock=$D2;               {210}
 cmdCopyBlock=$D3;              {211}
 cmdMoveBlock=$D4;              {212}
 mbEditWriteBlock=$F0D5;        {213}
 cmdWriteBlock=$D5;             {213}
 mbEditReadOnly=$F0D6;          {214}
 mbOptionSystems=$F0D7;         {215}
 mbGotoPg=$F0D8;                {216}
 mbTxtExposantWord=$F0D9;       {217}
 cmdTxtExposantWord=$D9;        {217}
 mbOptionMouse=$F0DA;           {218}
 mbInsertFile=$F0DB;            {219}
 cmdInsertFile=$DB;             {219}
 mbOptionEditor=$F0DC;          {220}
 cmdOptionEditor=$DC;           {220}
 mbTxtNormalWord=$F0DD;         {221}
 cmdTxtNormalWord=$DD;          {221}
 mbOpenFileAtCursor=$F0DE;      {222}
 cmdOpenFileAtCursor=$DE;       {222}
 mbFileSetAttr=$F0DF;           {223}
 cmdFileSetAttr=$DF;            {223}
 mbAnswerMode=$F0E0;            {224}
 cmdAnswerMode=$E0;             {224}
 mbHangUp=$F0E1;                {225}
 cmdHangUp=$E1;                 {225}
 mbUpload=$F0E2;                {226}
 cmdUpload=$E2;                 {226}
 mbDownload=$F0E3;              {227}
 cmdDownload=$E3;               {227}
 mbSetupJoystick=$F0E4;         {228}
 cmdSetupJoystick=$E4;          {228}
 mbCloseAllExit=$F0E5;          {229}
 cmdCloseAllExit=$E5;           {229}
 mbOpenDebug=$F0E6;             {230}
 cmdOpenDebug=$E6;              {230}
 mbClearPrinter=$F0E7;          {231}
 cmdClearPrinter=$E7;           {231}
 mbDelSel=$F0E8;                {232}
 cmdDelSel=$E8;                 {232}
 mbCpySel=$F0E9;                {233}
 cmdCpySel=$E9;                 {233}
 mbNewBudget=$F0EA;             {234}
 cmdNewBudget=$EA;              {234}
 mbOpenBudget=$F0EB;            {235}
 cmdOpenBudget=$EB;             {235}