// * * * * * * * * * * * * * * * * * * * * * * * *
// *               Resource MalBook              *
// * * * * * * * * * * * * * * * * * * * * * * * *
//
// MBBBKRes - Lit le fichier MalBook.Ini

USES Adele,Disk,dialex,pritex,Arcade,Editex,Protocol,Sourcer,MBBCrtex,ToolTerm,ResServI,CommBase

ReadIniFile LOADINI "MBB.INI"
BEGIN
 HEADER "USER"
  VARIABLE "USERNAME", PCHAR, RegUserName
  VARIABLE "SERIALCODE", PCHR, RegSerialCode
  VARIABLE "MASTERPASSWORD", PCHR, MasterPassWord
  VARIABLE "COUNTRYCODE", WORD, MalteCountryCode
  VARIABLE "COUNTRYICONONSTATUS", BOOLEAN, CountryIconOnStatus

 HEADER "DISK"
  VARIABLE "CDROM", BYTE, DefaultCDROMPort
  VARIABLE "ASMFILES", PCHR, ExtAsm
  VARIABLE "ASMCFILES", PCHR, ExtAC
  VARIABLE "BASFILES", PCHR, ExtBas
  VARIABLE "CFILES", PCHR, ExtC
  VARIABLE "EUPHFILES", PCHR, ExtEuphoria
  VARIABLE "FORFILES", PCHR, ExtFortran
  VARIABLE "INIFILES", PCHR, ExtIni
  VARIABLE "MOUSEMENUFILES", PCHAR, ExtMsMnu
  VARIABLE "PASFILES", PCHR, ExtPas
  VARIABLE "RESOURCEFILES", PCHR, ExtRC

  VARIABLE "DIRSYSTEMS", PCHR, PathSystems
  VARIABLE "DIRCOUNTRY", PCHR, PathCountry
  VARIABLE "DIRUNIX", PCHR, PathUnix
  VARIABLE "DIROS2", PCHR, PathOS2
  VARIABLE "DIRWINDOWS", PCHR, PathWin
//  VARIABLE "DIRAPPLEII", PCHR, PathAppleII
//  VARIABLE "DIRAPPLEMAC", PCHR, PathAppleMac
//  VARIABLE "DIRCOCO3", PCHR, PathCoco3
//  VARIABLE "DIRCOMMODORE64", PCHR, PathCommodore64
  VARIABLE "DIRMUSICMOD", PCHR, PathMod
  VARIABLE "DIRBBS", PCHR, PathBBS
  VARIABLE "DIRPHONELIST", PCHR, PathPhoneList
  VARIABLE "DIRPHONEDOWNLOAD", PCHR, PathDownload
  VARIABLE "DIRPHONEUPLOAD", PCHR, PathUpload
  VARIABLE "DIRCATALOGDISK", PCHR, PathCatDisk
  VARIABLE "DIRDRAW", PCHR, PathDraw
  VARIABLE "DIRPCX", PCHR, PathPCX
  VARIABLE "DIRSUPERCALC", PCHR, PathCalc
  VARIABLE "DIRGAT", PCHR, PathGat
  VARIABLE "DIRMACROTXT", PCHR, PathMac
  VARIABLE "DIRMACRODRW", PCHR, PathMacDrw
  VARIABLE "DIRSOURCEADA", PCHR, PathAda
  VARIABLE "DIRSOURCEASM", PCHR, PathAsm
  VARIABLE "DIRSOURCEASMC", PCHR, PathAsmC
  VARIABLE "DIRSOURCEBAS", PCHR, PathBas
  VARIABLE "DIRSOURCEC", PCHR, PathC
  VARIABLE "DIRSOURCECOBOL", PCHR, PathCobol
  VARIABLE "DIRSOURCEEUPHORIA", PCHR, PathEuphoria
  VARIABLE "DIRSOURCEFORTH", PCHR, PathForth
  VARIABLE "DIRSOURCEFORTRAN", PCHR, PathFortran
  VARIABLE "DIRSOURCEPAS", PCHR, PathPas
  VARIABLE "DIRRESOURCE", PCHR, PathResource
  VARIABLE "DIROBJECT", PCHR, PathObject
  VARIABLE "DIRUNIT", PCHR, PathUnit
  VARIABLE "DIROUTPUT", PCHR, PathOutput

 HEADER "PRINTERS"
  VARIABLE "CURRPRN", BYTE, PrnOutput
  VARIABLE "CURRPRINTER", PCHR, CurrPrn
  VARIABLE "NAMELPT1", PCHR, NameLPT1
  VARIABLE "NMMODELLPT1DOS", BYTE, PrnSetup[poLPT1Dos].Code
  VARIABLE "NMMODELLPT2DOS", BYTE, PrnSetup[poLPT2Dos].Code
  VARIABLE "NMMODELLPT3DOS", BYTE, PrnSetup[poLPT3Dos].Code
  VARIABLE "NMMODELLPT4DOS", BYTE, PrnSetup[poLPT4Dos].Code
  VARIABLE "NMMODELLPT1", BYTE, PrnSetup[poLPT1].Code
  VARIABLE "NMMODELLPT2", BYTE, PrnSetup[poLPT2].Code
  VARIABLE "NMMODELLPT3", BYTE, PrnSetup[poLPT3].Code
  VARIABLE "NMMODELLPT4", BYTE, PrnSetup[poLPT4].Code
  VARIABLE "NMMODELFILE", BYTE, PrnSetup[poFile].Code
  VARIABLE "HEIGHTPAPERLPT1", BYTE, PrnSetup[poLPT1].PHeight
  VARIABLE "NAMELPT2", PCHR, NameLPT2
  VARIABLE "NAMELPT3", PCHR, NameLPT3
  VARIABLE "NAMELPT4", PCHR, NameLPT4
//  VARIABLE "PRINTMETHODE", (Pixel,Mixted), PrnMethode
  VARIABLE "MODETYPEWRITER", BOOLEAN, ModeTypeWriter
  VARIABLE "PRNMARGEAUTORISED", BOOLEAN, PrnMarge
  VARIABLE "PAPER2PAPER", BOOLEAN, PrnSetup[poLPT1].P2P
  VARIABLE "BORDERPIXEL", BOOLEAN, PrnSetup[poLPT1].BorderPixel
//  VARIABLE "PAPERSIZE", REAL;REAL, PLength;PHeight

 HEADER "SOUND"
  VARIABLE "STARTUP", PCHR, SoundPlay[sndStartUp]
  VARIABLE "ERROR", PCHR, SoundPlay[sndError]
  VARIABLE "WARNING", PCHR, SoundPlay[sndWarning]
  VARIABLE "INFO", PCHR, SoundPlay[sndInfo]
  VARIABLE "OPENWIN", PCHR, SoundPlay[sndOpenWin]
  VARIABLE "CLOSEWIN", PCHR, SoundPlay[sndCloseWin]
  VARIABLE "EXIT", PCHR, SoundPlay[sndExit]
  VARIABLE "SOUNDICONONSTATUS", BOOLEAN, SoundIconOnStatus

 HEADER "VIDEO"
  VARIABLE "CHECKSVGA", BOOLEAN, CheckSvga
  VARIABLE "NAMEPRIMCARD", PCHR, NamePrimCard
  VARIABLE "NAMEPRIMONITOR", PCHR, NamePrimMonitor
  VARIABLE "DEFAULTMODE", WORD, DefaultMode
  VARIABLE "MTXNM", BYTE, MtxNm
//  VARIABLE "MEMORYPRIMVIDEO", WORD, MemoryPrimVideo
//  VARIABLE "DEFAULTTEXTPRIM", BYTE;BYTE, PrimTextWidth;PrimTextHeight
//  VARIABLE "DEFAULTGRAFPRIM", WORD;WORD;LONGINT, PrimXPixels;PrimYPixels;PrimNumColors
  VARIABLE "FULLDATE", BOOLEAN, FullDate
  VARIABLE "CURRPALETTE", BYTE, CurrPalette
  VARIABLE "PAPIERPEINT", PCHR, FontAppPath
  VARIABLE "STYLEPAPIERPEINT", BYTE, WallPaperConfig
  VARIABLE "FONTTITLE", PCHR, FontTitlePath
  VARIABLE "FONTINACTIFTITLE", PCHR, FontInActifTitlePath
  VARIABLE "VESABIOSBANK", BOOLEAN, VesaBiosBank
  VARIABLE "IMAGEINDIALOG", BOOLEAN, MediaSupport
  VARIABLE "EXTENSIOR", BOOLEAN, UseExtensior
  VARIABLE "CADRILLAGE", BOOLEAN, Cadril
  VARIABLE "BANKROUTINE", BYTE, BankRoutine
  VARIABLE "MEMORYMODEL", BYTE, MemoryModel
  VARIABLE "VIEWTOOLBAR", BOOLEAN, ViewToolBar
  VARIABLE "HELPBAR", BOOLEAN, HelpBar
  VARIABLE "DESKTOPICONONSTARTMODE", BOOLEAN, DesktopIconOnStartMode
  VARIABLE "FX", BOOLEAN, FX

 HEADER "SYSTEMS"
  VARIABLE "KEYWAIT", BYTE, KeyWait
  VARIABLE "OVREMS", BOOLEAN, SwapEms
  VARIABLE "SWAPEMS", BOOLEAN, NoEms
  VARIABLE "DESCRINFILE", BOOLEAN, DescrInFile
  VARIABLE "LOG", BOOLEAN, Log
  VARIABLE "SCRSAVER", BOOLEAN, ActifScrSave
  VARIABLE "SCRTIME", WORD, SecSS
  VARIABLE "SCRSAVERMODEL", BYTE, CurrScrnSaver
  VARIABLE "DIRECTDOS", BOOLEAN, DirectDos
  VARIABLE "MOUSETXTGRF", BOOLEAN, MsTxtGrf
  VARIABLE "DESKTOP", BOOLEAN, Desktop
  VARIABLE "MARKEND", BOOLEAN, MarkEnd
  VARIABLE "RULES", BOOLEAN, Rules
  VARIABLE "VIEWOUTZONE", BOOLEAN, ViewOutZone
  VARIABLE "MAKEBAK", BOOLEAN, MakeBak
  VARIABLE "SOURCER", BYTE, OpCodeFormat
  VARIABLE "OPCODE", BYTE, OpCodeCPU

 HEADER "MODEM"
  VARIABLE "CURRMODEM", BYTE, CurrModem
  VARIABLE "BAUDRATE", WORD, BaudRate
  VARIABLE "MODEMCMDDELAY", WORD, ModemCmdDelay
  VARIABLE "BUSY", PCHR, ModemBusy
  VARIABLE "CONNECT", PCHR, ModemConnect
  VARIABLE "NOCARRIER", PCHR, ModemNoCarrier
END