NumberIndex 40

Copyright 'BibliothŠque MultiM‚dia du Malte Genesis V: AdŠle - MaxCode:Gladir '
Copyright 'Tous droits r‚serv‚s par les Chevaliers de Malte 2001'

IndexFile 0,'RESOURCE\MEDIA\CLAVIER.GIF'
IndexFile 1,'RESOURCE\MEDIA\DRIVE.GIF'
IndexFile 2,'RESOURCE\MEDIA\MANETTE.GIF'
IndexFile 3,'RESOURCE\MEDIA\MONIT1.GIF'
IndexFile 4,'RESOURCE\MEDIA\BLOP.GIF'
IndexFile 5,'RESOURCE\MEDIA\SOURIS.GIF'
IndexFile 6,'RESOURCE\MEDIA\VESA.GIF'
IndexFile 7,'RESOURCE\MEDIA\DRIVE.BMP'
IndexFile 8,'RESOURCE\MEDIA\HARDDISK.BMP'
IndexFile 9,'RESOURCE\MEDIA\CDROM.BMP'
IndexFile 10,'GALLERY\ICONE\DESKTOP.ICO'
IndexFile 11,'RESOURCE\ICON\16\TRASHCAN.ICO'
IndexFile 12,'RESOURCE\MEDIA\DRIVE.ICO'
IndexFile 13,'RESOURCE\MEDIA\HARDDISK.ICO'
IndexFile 14,'RESOURCE\MEDIA\CDROM.ICO'
IndexFile 15,'RESOURCE\MEDIA\STATION.ICO'
IndexFile 16,'RESOURCE\MEDIA\COMPUTER.ICO'
IndexFile 17,'RESOURCE\MEDIA\VIDEO.ICO'
IndexFile 18,'RESOURCE\MEDIA\CDROMDRV.ICO'
IndexFile 19,'RESOURCE\MEDIA\KEYBOARD.ICO'
IndexFile 20,'RESOURCE\MEDIA\USB.ICO'
IndexFile 21,'RESOURCE\MEDIA\CTRLDRV.ICO'
IndexFile 22,'RESOURCE\MEDIA\MULTIMEDI.ICO'
IndexFile 23,'RESOURCE\MEDIA\MONITOR.ICO'
IndexFile 24,'RESOURCE\MEDIA\MODEM.ICO'
IndexFile 25,'RESOURCE\MEDIA\SYSTEM.ICO'
IndexFile 26,'RESOURCE\MEDIA\PORTS.ICO'
IndexFile 27,'RESOURCE\MEDIA\MOUSE.ICO'
IndexFile 28,'RESOURCE\MEDIA\NETWORK.ICO'
IndexFile 29,'RESOURCE\MEDIA\CHIP.ICO'
IndexFile 30,'RESOURCE\MEDIA\FINDFILE.GIF'
IndexFile 31,'RESOURCE\MEDIA\HOUSE.GIF'
IndexFile 32,'RESOURCE\MEDIA\EYES.GIF'
IndexFile 33,'RESOURCE\MEDIA\ZIPPER.GIF'
IndexFile 34,'RESOURCE\MEDIA\SCSI.ICO'
IndexFile 35,'RESOURCE\MEDIA\ASSISTAN.GIF'
IndexFile 36,'RESOURCE\ICON\16\DATABASE.ICO'
IndexFile 37,'RESOURCE\ICON\16\SQL.ICO'
IndexFile 38,'RESOURCE\MEDIA\JOYSTICK.GIF'
IndexFile 39,'RESOURCE\ICON\16\START.ICO'
